.notesBoard {
    position: relative;
    height: 400px;

.stickyNote {
    position: absolute;
    background-color: khaki;
    border: 2px solid goldenrod;
    z-index: 1;

.text {
    padding: 9px 14px 9px 9px;
}

.editor {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 12px;
    bottom: 12px;

textarea {
    position: absolute;
    resize: none;
    width: 100%;
    height: 100%;

.defaultFont

;
    }

    }

.ui-resizable-e {
    width: 7px;
    top: 0;
    bottom: 0;
    right: -3px;
    cursor: e-resize;
}

.ui-resizable-w {
    width: 7px;
    top: 0;
    bottom: 0;
    left: -3px;
    cursor: e-resize;
}

.ui-resizable-s {
    height: 7px;
    left: 0;
    bottom: -3px;
    right: 0;
    cursor: s-resize;
}

.ui-resizable-n {
    height: 7px;
    left: 0;
    top: -3px;
    right: 0;
    cursor: s-resize;
}

.ui-resizable-se {
    bottom: -3px;
    cursor: se-resize;
    height: 10px;
    right: -3px;
    width: 10px;
}

.ui-resizable-sw {
    bottom: -3px;
    cursor: sw-resize;
    height: 10px;
    left: -3px;
    width: 10px;
}

.ui-resizable-ne {
    top: -3px;
    cursor: ne-resize;
    height: 10px;
    right: -3px;
    width: 10px;
}

.ui-resizable-nw {
    top: -3px;
    cursor: nw-resize;
    height: 10px;
    left: -3px;
    width: 10px;
}

.ui-resizable-handle {
    display: block;
    font-size: 0.1px;
    position: absolute;
    z-index: 1;
}

    }

    }


